*{
    border: solid 2px black;
}

body{
    background-color: rgb(91, 14, 14);
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: white;
    text-align: left;
    font-size: 40px;
    
}
#subtitle{
    color:green;
    text-align: center;
}
#etch-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
}

.tile{
    background-color: white;
    height: 16px;
    width: 16px;
    border: 1px solid black;
}
.tile :hover{
    color:rgb(79, 40, 40);
}