*{
    margin: 0;
    padding: 0;
}
.top-nav{
    display: flex;
    padding: 10px;
    max-width: 100%;
    height: 65px;
    background-color: rgb(240, 191, 117);
    justify-content: center;
    align-items: center;
}
.top-nav > h1{
    align-self: flex-start;
    text-shadow: 
    -100px 20px rgb(80, 3, 80);
}
.top-nav > h2{
    align-self: flex-end;
    text-shadow: 
    -100px 15px rgb(59, 2, 59);
}
.etch-container{
    background-color: rgb(71, 54, 31);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 100%;
}

.options{
    display: grid;
    border: 3px groove salmon;
    border-radius: 10px;
    margin-left: 150px;
    padding: 2px;
    height: 230px;
    width: 200px;
    gap: 4px;
    box-shadow: 10px 6px 2px black;
}

.options > button{
    color: black;
    background-color: antiquewhite;
    border-radius: 2px;
}
.options > button:hover{
    background-color: whitesmoke;
    box-shadow: inset -10px 1px 3px rgb(86, 85, 85);
    transition: 0.5s;

}

.text-container{
    border: 3px groove black;
    background-color: rgb(62, 30, 30);
    margin-top: 10px;
    align-self: baseline;
}

.sketch-pad{
    display: grid;
    border: 5px groove salmon;
    border-radius: 5px;
    height: 500px;
    width: 500px;
    background-color:white ;
    box-shadow: 20px 6px 3px black;
}




